<section class="w-full min-h-screen flex justify-center items-center">
  <div class="w-90 rounded-lg border border-gray-200 bg-white shadow-lg">
    <div class="border-gray-200 mt-8">
      <h1 class="text-center text-blue-500 font-bold">FINPER</h1>
        <p class="text-center mb-2 text-[11px] text-gray-500">
          Conoce tus ingresos, controla tus gastos
        </p>
      <h6 class="text-lg font-bold text-center text-gray-500">Recuperar contraseña</h6>
    </div>

    <div class="p-6">
      <div>
        <form autocomplete="off" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
<div>
          <label
            for="inputNewPwd"
            class="block text-xs font-medium text-gray-700"
          >
            Nueva Contraseña:
          </label>

          <div class="relative">
            <span class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 16 16"
                    width="20"
                    height="20"
                  >
                    <path
                      fill="#666666"
                      fill-rule="evenodd"
                      d="M4 5a4 4 0 1 1 8 0v1h1a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1zm6.5 0v1h-5V5a2.5 2.5 0 0 1 5 0m-7 2.5v6h9v-6zM9 12V9H7v3z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </span>
            <input
              [type]="showPassword ? 'text' : 'password'"
              id="inputNewPwd"
              class="w-full rounded-md border placeholder:text-xs border-gray-300 py-1 pl-10 pr-3 focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-blue-500"
              placeholder="*********"
              formControlName="newPassword"
            />
            <!-- Botón mostrar / ocultar -->
            <button type="button" class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-400 hover:text-gray-600" (click)="togglePassword()" [attr.aria-label]="showPassword ? 'Ocultar contraseña' : 'Mostrar contraseña'" >
              @if (showPassword) {
                 <!-- Ojo cerrado -->
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="none" stroke="currentColor" stroke-width="2" > <path d="M3 3l18 18" /> <path d="M10.6 10.6a2 2 0 0 0 2.8 2.8" /> <path d="M9.9 4.2A10.8 10.8 0 0 1 12 4c5 0 9 4 10 8-0.4 1.5-1.2 2.7-2.3 3.8" /> <path d="M6.6 6.6C4.8 7.8 3.5 9.7 3 12c1 4 5 8 9 8 1.5 0 2.9-.4 4.1-1.1" /> </svg> } @else { <!-- Ojo abierto --> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="none" stroke="currentColor" stroke-width="2" > <path d="M2 12s3.5-7 10-7 10 7 10 7-3.5 7-10 7S2 12 2 12z" /> <circle cx="12" cy="12" r="3" /> </svg>
              }
            </button>
          </div>
           <div class="mb-4">
            @if(formUtils.isValidField(resetForm,'newPassword')){
              <span class="text-sm text-red-600">
                {{ formUtils.getFieldError(resetForm,'newPassword') }}
              </span>
            }
          </div>
</div>

<div>
          <label
            for="inputConfirmPwd"
            class="block text-xs font-medium text-gray-700"
          >
            Confirmar contraseña:
          </label>

          <div class="relative">
            <span class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 16 16"
                    width="20"
                    height="20"
                  >
                    <path
                      fill="#666666"
                      fill-rule="evenodd"
                      d="M4 5a4 4 0 1 1 8 0v1h1a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1zm6.5 0v1h-5V5a2.5 2.5 0 0 1 5 0m-7 2.5v6h9v-6zM9 12V9H7v3z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </span>
            <input
              [type]="showConfirmPassword ? 'text' : 'password'"
              id="inputConfirmPwd"
              class="w-full rounded-md border placeholder:text-xs border-gray-300 py-1 pl-10 pr-3 focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-blue-500"
              placeholder="*********"
              formControlName="confirmPassword"
            />
            <!-- Botón mostrar / ocultar -->
            <button type="button" class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-400 hover:text-gray-600" (click)="toggleConfirmPassword()" [attr.aria-label]="showConfirmPassword ? 'Ocultar contraseña' : 'Mostrar contraseña'" >
              @if (showConfirmPassword) {
                <!-- Ojo cerrado -->
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="none" stroke="currentColor" stroke-width="2" > <path d="M3 3l18 18" /> <path d="M10.6 10.6a2 2 0 0 0 2.8 2.8" /> <path d="M9.9 4.2A10.8 10.8 0 0 1 12 4c5 0 9 4 10 8-0.4 1.5-1.2 2.7-2.3 3.8" /> <path d="M6.6 6.6C4.8 7.8 3.5 9.7 3 12c1 4 5 8 9 8 1.5 0 2.9-.4 4.1-1.1" /> </svg> } @else { <!-- Ojo abierto --> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="none" stroke="currentColor" stroke-width="2" > <path d="M2 12s3.5-7 10-7 10 7 10 7-3.5 7-10 7S2 12 2 12z" /> <circle cx="12" cy="12" r="3" /> </svg>
              }
            </button>
          </div>
           <div class="mb-4">
            @if(formUtils.isValidField(resetForm,'confirmPassword')){
              <span class="text-sm text-red-600">
                {{ formUtils.getFieldError(resetForm,'confirmPassword') }}
              </span>
            }

            @if ( resetForm.touched && resetForm.hasError('passwordsMismatch')) {
              <span class="text-red-600 text-sm block">Las contraseñas no coinciden.</span>
            }
          </div>
</div>



          <div class="mt-4">
            <button
              class="w-full rounded-md bg-blue-600 px-4 py-2 text-white transition hover:bg-blue-700"
              type="submit"
            >
              Recuperar contraseña
            </button>
          </div>
          <div class="flex justify-center mt-8 gap-1 cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path fill="#193cb8" d="m4 10l-.707.707L2.586 10l.707-.707zm17 8a1 1 0 1 1-2 0zM8.293 15.707l-5-5l1.414-1.414l5 5zm-5-6.414l5-5l1.414 1.414l-5 5zM4 9h10v2H4zm17 7v2h-2v-2zm-7-7a7 7 0 0 1 7 7h-2a5 5 0 0 0-5-5z"/></svg>
              <a class="text-xs font-bold text-right text-blue-600 hover:text-blue-900" routerLink="/auth/login">Inicio de sesión</a>
            </div>
        </form>
      </div>
    </div>
  </div>
</section>
